<div class="container">
    <div class="login_container">
       <div class="row">
          <div class="col-sm-6 login_block">
            <h3 class="text-center">Login</h3>
            <div class="login_inner">
                <form [formGroup]="login_form" (ngSubmit)="login(login_form)">
                   <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                        <label>E-Mail</label>
                        <input type="email"  placeholder="Enter E-Mail" formControlName="email" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="Enter Password" formControlName="password" class="form-control" />
                      </div>
                    </div>
                  <div class="col-sm-8">
                    <div class="form-group">
                        <button class="btn btn-danger">Login</button>
                    </div>
                  </div>
                 <div class="col-sm-4">
                    <p class="reset-pssword">Forget Password</p>
                 </div>
            </div>
        </form>
          </div>
         </div>
        <div class="col-sm-6 signup_block">
            <h3 class="text-center">Sign Up</h3>
            <form [formGroup]="signup_form" (ngSubmit)="signup(signup_form)">
             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Enter Name" />
                    </div>
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="text" formControlName="email" class="form-control" placeholder="Enter E-Mail" />
                    </div>
                    <div class="form-group">
                        <label>Number</label>
                        <input type="text" formControlName="mobile_no" class="form-control"  placeholder="Enter Number" />
                    </div>
                   <div class="form-group">
                       <label>Enter Password </label>
                       <input type="password"  formControlName="password" placeholder="Enter Password" class="form-control" />
                   </div>
                  <div class="form-group">
                  <button class="btn btn-danger">SignUp</button>
                </div>
            </div>
        </div>
        </form>
    </div>
 </div>

